<!-- header -->
<%- include("include/header") %> 
<!-- header -->

<!-- main body -->
<section class="main-body">
    <div class="container">
        <div class="box-nav d-flex justify-content-between py-3">
            <div class="filter">
                <a href="/"><i class="fa-solid fa-angles-left"></i>All Users</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-bold">Update User</h2>
            <span class="text-dark">Use the below form to Update a new account</span>
        </div>
        <!-- Update-userform-handeling -->
        <form method="post" id="update_user" class="d-flex justify-content-center my-5">
            <div class="new_service my-3">
                <div class="form-group">
                    <label for="name" class="text-dark">Name: </label>
                    <input type="hidden" name="id" value="<%= user._id %>">
                    <input type="text" name="name" value="<%= user.name %>" placeholder=" write your name here.">
                </div>
                <div class="form-group py-2">
                    <label for="Email" class="text-dark">Email: </label>
                    <input type="Email" name="email" value="<%= user.email %>" placeholder="  example@gmail.com">
                </div>
                <div class="form-group py-2">
                    <label for="gender" class="text-dark">Gender: </label>
                    <div class="radio form-check form-check-inline">
                        <input type="radio" id="radio2" name="gender" value="<%= user.gender=='Male'?'checked':'' %>">
                        <label for="radio2" >Male</label>
                    </div>
                    <div class="radio form-check form-check-inline">
                        <input type="radio" id="radio3" name="gender" value="<%= user.gender=='Female'?'checked':'' %>">
                        <label for="radio3">Female</label>
                    </div>
                </div>
                <div class="form-group py-2">
                    <label for="gender" class="text-dark">Status: </label>
                    <div class="radio form-check form-check-inline">
                        <input type="radio" id="radio4" name="status" value="<%= user.gender=='Active'?'checked':'' %>">
                        <label for="radio4" >Active</label>
                    </div>
                    <div class="radio form-check form-check-inline">
                        <input type="radio" id="radio5" name="status" value="<%= user.gender=='Inactive'?'checked':'' %>">
                        <label for="radio5">Inactive</label>
                    </div>
                </div>
                <div class="form-group py-2">
                    <button type="submit" class="btn btn-dark update">Save</button>
                </div>            
            </div>
        </form>

    </div>
</section>
<!-- main body end-->



<!-- footer -->
<%- include("include/footer") %> 
<!-- footer -->